<% provide(:title, "写真家一覧") %>
<h1>写真家一覧</h1>
<dl class="search-box">
  <%= search_form_for @q, url: users_path do |f| %>
    <dt><%= f.search_field :name_cont ,placeholder: "写真家を検索" %></dt>
    <dd><%= f.submit "検索", class: "search-btn btn-primary", method: :get %></dd>
  <% end %>
</dl>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
