<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div><%= hidden_field_tag :post_id, @post.id %></div>
  <div class="field">
    <%= f.text_area :content, class: 'form-control', placeholder: "写真へのコメントを入力してください" %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>