<% provide(:title, @post.title) %>
<h1><%= @post.title %></h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>撮影者</h1></br>
      <h1>
        <%= link_to gravatar_for(@user), @user %>
        <%= link_to @user.name, @user %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="post_form">
      <%= render 'shared/comment_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @post %>
      </ol>
    <% end %>
    <% if @post.comments.any? %>
      <ol class="posts">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
