<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "photo ex", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-bars fa-lg"></i>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "設定", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", log_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "サインアップ", sign_up_path %></li>
              <li class="divider"></li>
              <li><%= link_to "ログイン", sign_in_path %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fas fa-user-friends fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
            <i class="fas fa-images fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-camera fa-lg"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>$('.dropdown-toggle').dropdown()</script>
</header>