<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "photo ex", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "設定", edit_user_registration_path %></li>
          <li><%= link_to "ログアウト", sign_out_path %></li>
        <% else %>
          <li><%= link_to "サインアップ", sign_up_path %></li>
          <li><%= link_to "ログイン", sign_in_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>